<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!-- PAGE TITLE -->
    <title>Liên Hệ</title>
    <!-- MAKE IT RESPONSIVE -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- SEO -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <!-- FAVICON -->
    <!--<link rel="shortcut icon" href="images/favicon.png" />-->

    <style >html.wait {
    	cursor: wait !important;
    	opacity: 0;
    	transition: opacity 0.5s ease;
    }</style>
    <link  rel="stylesheet" href="/css/bootstrap.min.css" /><link  rel="stylesheet" href="/css/animate.min.css" /><link  rel="stylesheet" href="/css/font-awesome.min.css" /><link  rel="stylesheet" href="/css/font-awesome.min.css" /><link  rel="stylesheet" href="/style.css" /><link  rel="stylesheet" href="/css/options.css" /><link  rel="stylesheet" href="/css/responsive.css" />

   <!-- FONTS -->
   <link href='https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700,700italic&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
   <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic,800,800italic&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <div id="page">
        <!-- START HEADER -->
          <header id="header" class="small with-separation-bottom">

            <!-- POINTER ANIMATED -->
            <canvas id="header-canvas"></canvas>
              <div id="top-navigation">
                  <ul class="animate-me fadeInDown" data-wow-duration="1.2s">
                      <li class="menu-item"><i class="fa fa-phone"></i>contact@vinaas.com</li>
              
                      <li class="menu-item"><span class="navigation-social">Chia sẻ !</span>  <a href="#"><i class="fa fa-facebook"></i></a></i></a>
                      </li>
                      <li class="menu-item">
                          <!-- SEARCHFORM -->
                          <div id="search-container" class="animate-me fadeInDown">
                              <form role="search" method="get" action="#">
                                  <input type="text" value="" name="s" id="s" placeholder="Search..." />
                                  <input type="hidden" name="searchsubmit" id="searchsubmit" value="true" />
                                  <button type="submit" name="searchsubmit"><i class="fa fa-search"></i>
                                  </button>
                              </form>
                          </div>
                          <a href="#" id="search-toggle"><i class="fa"></i></a>
                      </li>
                      <li class="menu-item menu-item-has-children language-switcher">
                          <!-- LANGUAGES -->
                          <a href="#"><i class="fa fa-flag"></i> Vietnamese <i class="fa fa-angle-down"></i></a>
                          <ul class="sub-menu bounceInDown">
                              <li class="menu-item"><a href="#">English</a>
                              </li>
                              <li class="menu-item"><a href="#">Japan</a>
                              </li>
                          </ul>
                      </li>
                  </ul>
              </div>

              <!-- MOBILE NAVIGATION -->
              <nav id="navigation-mobile"></nav>
              
              <!-- MAIN MENU -->
              <nav id="navigation">
                  <!-- DISPLAY MOBILE MENU -->
                  <a href="#" id="show-mobile-menu"><i class="fa fa-bars"></i></a>
                  <!-- CLOSE MOBILE MENU -->
                  <a href="#" id="close-navigation-mobile"><i class="fa fa-long-arrow-left"></i></a>
              
                  <!-- <ul id="left-navigation" class="animate-me fadeInLeftBig"> -->
                    <ul id="left-navigation" class="">
                        <li class="menu-item">
                          <a href="/" data-description="Giới thiệu Vinaas">Trang chủ</a>
                        </li>
                        <li class="menu-item">
                          <a href="/portfolio" data-description="Đã thực hiện">Dự Án</a>
                        </li>
                        <li class="menu-item">
                          <a href="/dichvu.html" data-description="Cho khách hàng">Dịch vụ</a>
                        </li>
              
              
                  </ul>
                  <div class="animate-me flipInX" data-wow-duration="3s">
                      <a href="/" id="logo-navigation">
                          <span>CO., LTD</span>
                      </a>
                  </div>
                  <!-- <ul id="right-navigation" class="animate-me fadeInRightBig"> -->
                    <ul id="right-navigation" class="">
                        <li class="menu-item">
                          <a href="/aboutus" data-description="We are family">Về chúng tôi</a>
                        </li>
                        <li class="menu-item">
                          <a href="/baiviet.html" data-description="Chia sẻ kiến thức">Bài viết</a>
                        </li>
                        <li class="menu-item">
                          <a href="/contact" data-description="Lets coffee">Liên hệ</a>
                        </li>
                  </ul>
              </nav>

                <!-- SHADOW -->
                <div id="shade2"></div>
                
                <!-- HEADER SLIDER -->
                <div class="flexslider" id="header-slider">
                	<ul class="slides">
                		<li><img src="/images/backgrounds/bg2.jpg" alt="SLider Image"></li>
                	</ul>
                </div>


            <!-- <% if @document.isIndex: %>
              <%- @partial('slider') %>
            <% else: %>
              <%- @partial('bg-detail') %>
            <% end %> -->

        </header>
        <!-- END HEADER -->


  <!-- START MAIN CONTAINER -->
  <!-- START MAIN CONTAINER -->
	  	<div class="main-container">
	  		<div id="contact-container" class="container">
	  			<!-- SKILLS -->
	  			<h2 class="with-breaker animate-me fadeInUp">
		  			Contact <span>Let's get in touch</span>
	  			</h2>
	  			<p class="center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vitae dictum ex. Donec nec efficitur ligula. Nullam placerat et erat at ullamcorper. <span class="surline">Fusce quam elit</span>, posuere sit amet libero ut, aliquam vestibulum tellus. Praesent vehicula viverra nisl, nec tristique tellus posuere ac. Praesent eu viverra ligula. Mauris nec pellentesque nisi.</p>
	  			<div class="row">
	  				<div class="col-md-6">
	  					<!-- Google Map -->
	  					<div id="GoogleMap">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m12!1m8!1m3!1d3919.3251388825024!2d106.64276626931155!3d10.786390603624092!3m2!1i1024!2i768!4f13.1!2m1!1zMzA1IEjhu5NuZyBM4bqhYywgUGh1b25nIDEwICwgUXXhuq1uIFTDom4gQsOsbmgsIEhDTQ!5e0!3m2!1svi!2s!4v1410236434857" width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" ></iframe>
                        </div>
	  				</div>
	  				<div class="col-md-6">
	  					<!-- FORMS -->
	  					<form id="contact-form" method="post" action="contact_processing.php" class="form-horizontal">
							<!-- NAME -->
							<div class="control-group row">
								<label class="control-label col-md-3" for="contact-name">Name</label>
								<div class="controls col-md-9">
									<input id="contact-name" name="contact-name" type="text" placeholder="Barack Obama" class="input-xlarge form-control" required="">
								</div>
							</div>
							<!-- EMAIL -->
							<div class="control-group row">
								<label class="control-label col-md-3" for="contact-email">Email</label>
								<div class="controls col-md-9">
									<input id="contact-email" name="contact-email" type="text" placeholder="barack.obama@cia.gouv" class="input-xlarge form-control" required="">
								</div>
							</div>
							<!-- TOPIC -->
							<div class="control-group row">
								<label class="control-label col-md-3" for="contact-topic">Topic</label>
								<div class="controls col-md-9">
									<select id="contact-topic" name="contact-topic" class="input-xlarge form-control">
										<option>Request an estimate</option>
										<option selected="selected">Question</option>
										<option>Charity Website</option>
										<option>Support</option>
										<option>Other</option>
									</select>
								</div>
							</div>
							<!-- MESSAGE -->
							<div class="control-group row">
								<label class="control-label col-md-3" for="contact-message">Message</label>
								<div class="controls col-md-9">
									<textarea id="contact-message" name="contact-message" class=" form-control" rows="5">We are eager to hear from you !</textarea>
								</div>
							</div>
							<!-- CAPTCHA -->
							
							<!-- BUTTON -->
							<div class="control-group text-right">
							 	<input type="hidden" name="submitted" id="submitted" value="true" />
							 	<button type="submit" class="btn btn-default" name="submitted"><i class="fa fa-paper-plane-o"></i> Send</button>
							</div>
						</form>
	  				</div>
	  			</div>
	  		</div>
	  		<!-- CUSTOM CONTAINER -->
	  		<section class="custom-section-container with-separation-bottom with-separation-top">
		  		<div class="container">
			  		<div class="custom-section-text">
				  		<h2 class="animate-me fadeInLeft">ĐẾN VỚI CHÚNG TÔI</h2>
				  		<p class="animate-me fadeInLeft">Công ty TNHH Phần mềm Tiên Tiến Việt Nam, VinaAS Co.,Ltd </p>
                        <p>305 Hồng Lạc, Phường 10  Quận Tân Bình, TP Hồ Chí Minh</p>

			  		</div>
			  		<div class="custom-section-buttons">
				  		<a href="/" class="btn btn-default animate-me fadeInRight"><i class="fa fa-book"></i>Tìm hiểu thêm</a>
				  		<a href="#" class="btn btn-default animate-me fadeInRight"><i class="fa fa-paper-plane"></i> Đặt câu hỏi</a>
			  		</div>
		  		</div>
	  		</section>
	  	</div>
  <!-- END MAIN CONTAINER -->



      <!-- START FOOTER -->
      <footer id="footer" class="with-separation-top">
          <aside id="widgets" class="container">
              <div class="row">
                  <!-- WIDGET -->
                  <div class="col-md-4 widget animate-me fadeInLeft">
                      <img src="/images/logo-footer.png" id="footer-logo" alt="Logo footer">
                      <p></p>
                  </div>
                  <!-- WIDGET -->
                  <div class="col-md-4 widget animate-me fadeInUp">
                      <h4>Danh mục</h4>
                      <ul>
                      </ul>
                  </div>
                  <!-- WIDGET -->
                  <div class="col-md-4 widget animate-me fadeInRight">
                      <h4>Liên hệ</h4>
                      <ul class="contact-informations">
                          <li class="contact-address">305 Hồng Lạc, Phường 10, Quận Tân Bình, TP Hồ Chí Minh </li>
                          <li class="contact-phone"> contact@vinaas.com </li>
                      </ul>
                      <ul class="widget-social">
                          <!-- ALL ICONS AVAILABLE ->http://fortawesome.github.io/Font-Awesome/icons/#brand-->
                          <li><a href="#"><i class="fa fa-facebook"></i></a>
                          </li>
                          <li><a href="#"><i class="fa fa-twitter"></i></a>
                          </li>
                          <li><a href="#"><i class="fa fa-skype"></i></a>
                          </li>
                      </ul>
                      <a href="contact.html" class="btn btn-default"><i class="fa fa-envelope-o"></i> Contact Form</a>
                  </div>
              </div>
          </aside>
          <div id="copyright" class="animate-me fadeInUp">
              <div class="container">
                  <p>&#169; 2016. </p>
                  <!-- <ul id="footer-navigation">
                      <li><a href="page.html">Terms of Use</a>
                      </li>
                      <li><a href="page.html">Privacy Policy</a>
                      </li>
                      <li><a href="contact.html">Contact Us</a>
                      </li>
                  </ul> -->
              </div>
          </div>
      </footer>
      <!-- END FOOTER -->

      <!-- SCROLL TOP -->
      <a href="#" id="scroll-top" class="fadeInRight animate-me"><i class="fa fa-angle-double-up"></i></a>
  </div>
      <script defer="defer"  src="/js/jquery-1.11.1.min.js"></script>
      <script defer="defer"  src="/js/plugins.js"></script>
      <script defer="defer"  src="/js/custom.js"></script>



</body>
</html>
