{{#extend "default"}}
  {{#content "main"}}
<!-- START MAIN CONTAINER -->
<div class="main-container">
  <div class="container">
      <!-- SKILLS -->
      <h2 class="with-breaker animate-me fadeInUp">
  Dịch vụ <span>Việc chúng tôi làm tốt nhất !</span>
</h2>
      <table id="skills-container" class="skills">
          <tr class="skills-row">
              {{#each three_services}}
                <td class="skill animate-me zoomIn">
                    <h4><i class="{{this.icon_class}}"></i>{{this.title}}</h4>
                    <p>{{this.short_info}}</p>
                </td>
              {{/each}}
          </tr>

      </table>
      <div class="skill-button center animate-me fadeInUp">
          <a href="dichvu.html" class="btn btn-default"><i class="fa fa-trophy"></i> Xem chi tiết</a>
      </div>

      <!--PORTFOLIO -->
      <h2 class="with-breaker animate-me fadeInUp">
  Dự án <span>Đã và đang thực hiện thành công!</span>
</h2>
  </div>

    <div id="portfolio-container" class="with-separation-bottom with-separation-top">
      {{#each collections.project}}
        <figure class="portfolio-item effect-sadie">
            <img src="{{this.screenshots.0.imageUrl}}" alt="{{this.title}}"/>
            <figcaption>
                <h4>{{this.title}}</h4>
                <p>{{this.description}}</p>
                <a href="{{path}}">View more</a>
            </figcaption>
        </figure>
      {{/each}}
    </div>

      <div class="portfolio-button center animate-me zoomIn">
          <a href="sanpham.html" class="btn btn-default"><i class="fa fa-suitcase"></i> Xem thêm</a>
      </div>

      <!-- CUSTOM CONTAINER -->
          <section class="custom-section-container with-separation-bottom with-separation-top">
              <div class="container">
                  <div class="custom-section-text">
                      <h2 class="animate-me fadeInLeft">{{contact_block.title}}</h2>
                      <p class="animate-me fadeInLeft">{{contact_block.description}}</p>

                  </div>
                  <div class="custom-section-buttons">

                      <a href="{{contact_block.url}}" class="btn btn-default animate-me fadeInRight"><i class="fa fa-book"></i>{{contact_block.btn_text}}</a>
                  </div>
              </div>
          </section>

          <div class="container">
                  <!-- COMMENTS SHORTCODEs -->
          <h2 class="with-breaker animate-me fadeInUp">
              Tin tức<span>Chia sẽ kiến thức.</span>
            </h2>
              </div>
              <div id="blog-container" class="with-separation-bottom with-separation-top animate-me fadeIn">
                  <div class="flexslider">
                      <ul class="slides">
                          <!-- POST -->
                          <li class="blog-post">
                              <!-- THUMBNAIL IMAGE -->
                              <div class="blog-thumbnail">
                                  <a href="blog-single.html">
                                      <img src="images/blog/01.png" alt="Blog Header Image">
                                  </a>
                              </div>
                              <!-- POST CONTENT -->
                              <div class="blog-content">
                                  <a href="blog-single.html" class="blog-post-title"><h2>Post Name 1</h2></a>
                                  <ul class="post-metadatas list-inline">
                                      <li><i class="fa fa-clock-o"></i> November 25, 2015</li>
                                      <li><i class="fa fa-comments-o"></i>  <a href="blog-single.html">4 comments</a>
                                      </li>
                                  </ul>
                                  <p class="blog-sum-up">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis vulputate elit eu malesuada. Nullam magna quam, maximus...</p>
                                  <div class="blog-button">
                                      <a href="blog-single.html" class="btn btn-default"><i class="fa fa-arrow-right"></i> Read More</a>
                                  </div>
                              </div>
                          </li>
                          <!-- POST -->
                          <li class="blog-post">
                              <!-- THUMBNAIL IMAGE -->
                              <div class="blog-thumbnail">
                                  <a href="blog-single.html">
                                      <img src="images/blog/02.png" alt="Blog Header Image">
                                  </a>
                              </div>
                              <!-- POST CONTENT -->
                              <div class="blog-content">
                                  <a href="blog-single.html" class="blog-post-title"><h2>Post Name 2</h2></a>
                                  <ul class="post-metadatas list-inline">
                                      <li><i class="fa fa-clock-o"></i> November 20, 2015</li>
                                      <li><i class="fa fa-comments-o"></i>  <a href="blog-single.html">32 comments</a>
                                      </li>
                                  </ul>
                                  <p class="blog-sum-up">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis vulputate elit eu malesuada. Nullam magna quam, maximus...</p>
                                  <div class="blog-button">
                                      <a href="blog-single.html" class="btn btn-default"><i class="fa fa-arrow-right"></i> Read More</a>
                                  </div>
                              </div>
                          </li>
                          <!-- POST -->
                          <li class="blog-post">
                              <!-- THUMBNAIL IMAGE -->
                              <div class="blog-thumbnail">
                                  <a href="blog-single.html">
                                      <img src="images/blog/03.png" alt="Blog Header Image">
                                  </a>
                              </div>
                              <!-- POST CONTENT -->
                              <div class="blog-content">
                                  <a href="blog-single.html" class="blog-post-title"><h2>Post Name 3</h2></a>
                                  <ul class="post-metadatas list-inline">
                                      <li><i class="fa fa-clock-o"></i> November 12, 2015</li>
                                      <li><i class="fa fa-comments-o"></i>  <a href="blog-single.html">3 comments</a>
                                      </li>
                                  </ul>
                                  <p class="blog-sum-up">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis vulputate elit eu malesuada. Nullam magna quam, maximus...</p>
                                  <div class="blog-button">
                                      <a href="blog-single.html" class="btn btn-default"><i class="fa fa-arrow-right"></i> Read More</a>
                                  </div>
                              </div>
                          </li>
                          <!-- POST -->
                          <li class="blog-post">
                              <!-- THUMBNAIL IMAGE -->
                              <div class="blog-thumbnail">
                                  <a href="blog-single.html">
                                      <img src="images/blog/04.png" alt="Blog Header Image">
                                  </a>
                              </div>
                              <!-- POST CONTENT -->
                              <div class="blog-content">
                                  <a href="blog-single.html" class="blog-post-title"><h2>Post Name 4</h2></a>
                                  <ul class="post-metadatas list-inline">
                                      <li><i class="fa fa-clock-o"></i> October 19, 2015</li>
                                      <li><i class="fa fa-comments-o"></i>  <a href="blog-single.html">1 comment</a>
                                      </li>
                                  </ul>
                                  <p class="blog-sum-up">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis vulputate elit eu malesuada. Nullam magna quam, maximus...</p>
                                  <div class="blog-button">
                                      <a href="blog-single.html" class="btn btn-default"><i class="fa fa-arrow-right"></i> Read More</a>
                                  </div>
                              </div>
                          </li>
                          <!-- POST -->
                          <li class="blog-post">
                              <!-- THUMBNAIL IMAGE -->
                              <div class="blog-thumbnail">
                                  <a href="blog-single.html">
                                      <i class="fa fa-newspaper-o"></i>
                                  </a>
                              </div>
                              <!-- POST CONTENT -->
                              <div class="blog-content">
                                  <a href="blog-single.html" class="blog-post-title"><h2>Post Name 5</h2></a>
                                  <ul class="post-metadatas list-inline">
                                      <li><i class="fa fa-clock-o"></i> October 8, 2015</li>
                                      <li><i class="fa fa-comments-o"></i>  <a href="blog-single.html">32 comments</a>
                                      </li>
                                  </ul>
                                  <p class="blog-sum-up">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi venenatis vulputate elit eu malesuada. Nullam magna quam, maximus...</p>
                                  <div class="blog-button">
                                      <a href="blog-single.html" class="btn btn-default"><i class="fa fa-arrow-right"></i> Read More</a>
                                  </div>
                              </div>
                          </li>
                      </ul>
                  </div>
              </div>
              <div class="blog-button center animate-me zoomIn">
                  <a href="blog.html" class="btn btn-default"><i class="fa fa-comments-o"></i> Our Blog</a>
              </div>

              <div class="container">
                  <!-- PARTNERS -->
                  <h2 class="with-breaker animate-me fadeInUp">
              Khách hàng<span>Cảm ơn sử dụng dịch vụ chúng tôi</span>
            </h2>
                  <div id="partners-slider" class="flexslider">
                      <ul class="slides">
                          <li class="partners-slide">
                              <a href="#">
                                  <img src="images/partners/01.jpg" alt="Partner Logo">
                              </a>

                          </li>
                          <li class="partners-slide">
                             <a href="#">
                                <img src="images/partners/02.jpg" alt="Partner Logo">
                             </a>

                          </li>
                          <li class="partners-slide">
                             <a href="#">
                                <img src="images/partners/03.jpg" alt="Partner Logo">
                             </a>

                          </li>
                          <li class="partners-slide">
                             <a href="#">
                                <img src="images/partners/04.jpg" alt="Partner Logo">
                             </a>

                          </li>
                          <li class="partners-slide">
                             <a href="#">
                                  <img src="images/partners/05.jpg" alt="Partner Logo">
                             </a>

                          </li>
                      </ul>
                  </div>

          </div>


  {{/content}}
{{/extend}}
