{{#extend "default"}}
  {{#content "main"}}

  <!-- START MAIN CONTAINER -->
	  	<div class="main-container">
	  		<div class="container">
	  			<!--PORTFOLIO -->
	  			<h2 class="with-breaker animate-me fadeInUp">
		  			{{top_info.header}}<span>{{top_info.brief}}</span>
	  			</h2>
	  			<div id="portfolio-filters" class="animate-me fadeIn">
	  				<button class="btn btn-default" data-filter="*"><i class="fa fa-tags"></i> Show all</button>
					<button class="btn btn-default" data-filter=".portfolio-web-design"><i class="fa fa-tag"></i> Web Design</button>
					<button class="btn btn-default" data-filter=".portfolio-e-commerce"><i class="fa fa-tag"></i> E-Commerce</button>
					<button class="btn btn-default" data-filter=".portfolio-e-mailing"><i class="fa fa-tag"></i> E-Mailing</button>
					<button class="btn btn-default" data-filter=".portfolio-charities"><i class="fa fa-tag"></i> Charities</button>
	  			</div>
	  		</div>
	  		<div id="portfolio-container" class="with-separation-bottom with-separation-top">
          {{#each collections.project}}
	  			<!--PORTFOLIO ITEM -->
	  			<figure class="portfolio-item effect-sadie portfolio-web-design">
			        <img src="{{this.screenshots.0.imageUrl}}" alt="Image portfolio"/>
			        <figcaption>
			            <h4>{{this.title}}</h4>
			            <p>{{this.description}}</p>
			            <a href="/{{path}}">View more</a>
			        </figcaption>
			    </figure>
          {{/each}}

	  		</div>
	  		<div class="portfolio-button center animate-me zoomIn">
		  		<a href="portfolio.html" class="btn btn-default"><i class="fa fa-hand-o-right"></i> Next Page</a>
	  		</div>
	  	</div>
	  <!-- END MAIN CONTAINER -->



  {{/content}}
{{/extend}}
