{{#extend "default"}}
  {{#content "main"}}

  <!-- START MAIN CONTAINER -->
  <div class="main-container">
    <div class="container">
      <div class="row">
        <!--PORTFOLIO -->
        <h2 class="with-breaker animate-me fadeInUp">
          Portfolio <span>Just missing your next awesome project</span>
        </h2>
        <div class="col-lg-6">
          <div class="flexslider image-slider">
            <!--SLIDER -->
            <ul class="slides">
              {{#each screenshots}}
              <li><a href="{{this.imageUrl}}" data-fancybox-group="project-slider" class="fancybox"><img src="{{this.bigImageUrl}}" alt="{{this.alt}}"></a></li>
              {{/each}}
            </ul>
          </div>
          <!--SHARE BUTTONS -->
          <ul class="share-buttons animate-me fadeInUp">
            <script>function fbs_click() {u=location.href;t=document.title;window.open('http://www.facebook.com/sharer.php?u='+encodeURIComponent(u)+'&t='+encodeURIComponent(t),'sharer','toolbar=0,status=0,width=626,height=436'); return false;}</script>
            <li><a rel="nofollow" href="http://www.facebook.com/share.php?u=<;url>" onclick="return fbs_click()" target="_blank" class="btn btn-default button-facebook" ><i class="fa fa-facebook"></i> Share it</a></li>
            <li><a href="http://twitter.com/home/?status=Your tweet text." target="_blank" class="btn btn-default button-twitter"><i class="fa fa-twitter"></i> Tweet it</a></li>
          </ul>
        </div>
        <div class="col-lg-6">
          <!--ITEM DETAILS -->
          <h1 class="animate-me fadeInRight project-title">{{title}}</h1>
          <hr class="align-left">
          <ul class="post-metadatas">
            <li><i class="fa fa-clock-o"></i>Released : {{releaseDate}}</li>
            <li><i class="fa fa-thumb-tack"></i>Categories: <a href="#">Webdesign</a>, <a href="#">Graphic</a></li>
          </ul>
          <p class="text-justify">{{description}}</p>
          <div class="text-right animate-me bounceIn">
            <a href="{{demoUrl.url}}" class="btn btn-default"><i class="fa fa-link"></i> {{demoUrl.displayTitle}} </a>
          </div>
        </div>
      </div>

      {{{contents}}}

      <!--PORTFOLIO -->
      <h2 class="with-breaker animate-me fadeInUp">
        Our Latest Work <span>Yep, and we're proud !</span>
      </h2>
    </div>
    <div id="portfolio-container" class="with-separation-bottom with-separation-top">
      {{#each collections.project}}
        <!--PORTFOLIO ITEM -->
        <figure class="portfolio-item effect-sadie">
            <img src="{{this.screenshots.0.imageUrl}}" alt="{{this.screenshots.0.alt}}"/>
            <figcaption>
                <h4>{{this.projectTitle}}</h4>
                <p>{{this.description}}</p>
                <a href="/{{path}}">View more</a>
            </figcaption>
        </figure>
      {{/each}}
    </div>
    <div class="portfolio-button center animate-me zoomIn">
      <a href="/portfolio.html" class="btn btn-default"><i class="fa fa-suitcase"></i> More Stuff on our Portfolio</a>
    </div>
  </div>
  <!-- END MAIN CONTAINER -->


  {{/content}}
{{/extend}}
