<!-- TEXT SLIDER -->
<div id="ticker" class="animate-me zoomIn">
    <h3 class="with-breaker">{{ticker.header}}</h3>
    <div id="ticker-text">
        <ul>
            {{#each ticker.param_list}}
              <li style="font-size: 3.0em;">{{this}}</li>
            {{/each}}
        </ul>
    </div>
</div>

<!-- SCROLL BOTTOM -->
<div id="scroll-bottom" class="animate-me fadeInUpBig">
    <a href="#"><i class="fa fa-angle-double-down"></i></a>
</div>

<!-- SHADOW -->
<div id="shade"></div>

<!-- SLIDER NAVIGATION (DELETE IF YOU DON'T USE THE SLIDER) -->
<div class="navigation-slider-container">
    <a href="#" id="sliderPrev"><i class="fa fa-arrow-left"></i></a>
    <a href="#" id="sliderNext"><i class="fa fa-arrow-right"></i></a>
</div>

<!-- HEADER SLIDER -->
<div class="flexslider" id="header-slider">
    <ul class="slides">
        {{#each sliders}}
          <li>
              <img src="{{this.imageUrl}}" alt="{{this.alt}}">
          </li>
        {{/each}}
        <!-- <li>
            <img src="{{site.ref_url}}/images/backgrounds/bg-a1.jpg" alt="SLider Image">
        </li>
        <li>
            <img src="{{site.ref_url}}/images/backgrounds/bg-a2.jpg" alt="SLider Image">
        </li> -->

    </ul>
</div>
