<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!-- PAGE TITLE -->
    <title>Phần mềm Đo lường StockPile</title>
    <!-- MAKE IT RESPONSIVE -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- SEO -->
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">
    <!-- FAVICON -->
    <!--<link rel="shortcut icon" href="images/favicon.png" />-->

    <style >html.wait {
    	cursor: wait !important;
    	opacity: 0;
    	transition: opacity 0.5s ease;
    }</style>
    <link  rel="stylesheet" href="/css/bootstrap.min.css" /><link  rel="stylesheet" href="/css/animate.min.css" /><link  rel="stylesheet" href="/css/font-awesome.min.css" /><link  rel="stylesheet" href="/css/font-awesome.min.css" /><link  rel="stylesheet" href="/style.css" /><link  rel="stylesheet" href="/css/options.css" /><link  rel="stylesheet" href="/css/responsive.css" />

   <!-- FONTS -->
   <link href='https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700,700italic&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
   <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic,800,800italic&subset=latin,vietnamese' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <div id="page">
        <!-- START HEADER -->
          <header id="header" class="small with-separation-bottom">

            <!-- POINTER ANIMATED -->
            <canvas id="header-canvas"></canvas>
              <div id="top-navigation">
                  <ul class="animate-me fadeInDown" data-wow-duration="1.2s">
                      <li class="menu-item"><i class="fa fa-phone"></i>contact@vinaas.com</li>
              
                      <li class="menu-item"><span class="navigation-social">Chia sẻ !</span>  <a href="#"><i class="fa fa-facebook"></i></a></i></a>
                      </li>
                      <li class="menu-item">
                          <!-- SEARCHFORM -->
                          <div id="search-container" class="animate-me fadeInDown">
                              <form role="search" method="get" action="#">
                                  <input type="text" value="" name="s" id="s" placeholder="Search..." />
                                  <input type="hidden" name="searchsubmit" id="searchsubmit" value="true" />
                                  <button type="submit" name="searchsubmit"><i class="fa fa-search"></i>
                                  </button>
                              </form>
                          </div>
                          <a href="#" id="search-toggle"><i class="fa"></i></a>
                      </li>
                      <li class="menu-item menu-item-has-children language-switcher">
                          <!-- LANGUAGES -->
                          <a href="#"><i class="fa fa-flag"></i> Vietnamese <i class="fa fa-angle-down"></i></a>
                          <ul class="sub-menu bounceInDown">
                              <li class="menu-item"><a href="#">English</a>
                              </li>
                              <li class="menu-item"><a href="#">Japan</a>
                              </li>
                          </ul>
                      </li>
                  </ul>
              </div>

              <!-- MOBILE NAVIGATION -->
              <nav id="navigation-mobile"></nav>
              
              <!-- MAIN MENU -->
              <nav id="navigation">
                  <!-- DISPLAY MOBILE MENU -->
                  <a href="#" id="show-mobile-menu"><i class="fa fa-bars"></i></a>
                  <!-- CLOSE MOBILE MENU -->
                  <a href="#" id="close-navigation-mobile"><i class="fa fa-long-arrow-left"></i></a>
              
                  <!-- <ul id="left-navigation" class="animate-me fadeInLeftBig"> -->
                    <ul id="left-navigation" class="">
                        <li class="menu-item">
                          <a href="/" data-description="Giới thiệu Vinaas">Trang chủ</a>
                        </li>
                        <li class="menu-item">
                          <a href="/portfolio" data-description="Đã thực hiện">Dự Án</a>
                        </li>
                        <li class="menu-item">
                          <a href="/dichvu.html" data-description="Cho khách hàng">Dịch vụ</a>
                        </li>
              
              
                  </ul>
                  <div class="animate-me flipInX" data-wow-duration="3s">
                      <a href="/" id="logo-navigation">
                          <span>CO., LTD</span>
                      </a>
                  </div>
                  <!-- <ul id="right-navigation" class="animate-me fadeInRightBig"> -->
                    <ul id="right-navigation" class="">
                        <li class="menu-item">
                          <a href="/aboutus" data-description="We are family">Về chúng tôi</a>
                        </li>
                        <li class="menu-item">
                          <a href="/baiviet.html" data-description="Chia sẻ kiến thức">Bài viết</a>
                        </li>
                        <li class="menu-item">
                          <a href="/contact" data-description="Lets coffee">Liên hệ</a>
                        </li>
                  </ul>
              </nav>

                <!-- SHADOW -->
                <div id="shade2"></div>
                
                <!-- HEADER SLIDER -->
                <div class="flexslider" id="header-slider">
                	<ul class="slides">
                		<li><img src="/images/backgrounds/bg2.jpg" alt="SLider Image"></li>
                	</ul>
                </div>


            <!-- <% if @document.isIndex: %>
              <%- @partial('slider') %>
            <% else: %>
              <%- @partial('bg-detail') %>
            <% end %> -->

        </header>
        <!-- END HEADER -->


  <!-- START MAIN CONTAINER -->
  <div class="main-container">
    <div class="container">
      <div class="row">
        <!--PORTFOLIO -->
        <h2 class="with-breaker animate-me fadeInUp">
          Portfolio <span>Just missing your next awesome project</span>
        </h2>
        <div class="col-lg-6">
          <div class="flexslider image-slider">
            <!--SLIDER -->
            <ul class="slides">
              <li><a href="/images/blog/04.png" data-fancybox-group="project-slider" class="fancybox"><img src="/images/blog/04.png" alt="hình 1"></a></li>
              <li><a href="/images/blog/02.png" data-fancybox-group="project-slider" class="fancybox"><img src="/images/blog/02.png" alt="hình 2"></a></li>
            </ul>
          </div>
          <!--SHARE BUTTONS -->
          <ul class="share-buttons animate-me fadeInUp">
            <script>function fbs_click() {u=location.href;t=document.title;window.open('http://www.facebook.com/sharer.php?u='+encodeURIComponent(u)+'&t='+encodeURIComponent(t),'sharer','toolbar=0,status=0,width=626,height=436'); return false;}</script>
            <li><a rel="nofollow" href="http://www.facebook.com/share.php?u=<;url>" onclick="return fbs_click()" target="_blank" class="btn btn-default button-facebook" ><i class="fa fa-facebook"></i> Share it</a></li>
            <li><a href="http://twitter.com/home/?status=Your tweet text." target="_blank" class="btn btn-default button-twitter"><i class="fa fa-twitter"></i> Tweet it</a></li>
          </ul>
        </div>
        <div class="col-lg-6">
          <!--ITEM DETAILS -->
          <h1 class="animate-me fadeInRight project-title">Phần mềm Đo lường StockPile</h1>
          <hr class="align-left">
          <ul class="post-metadatas">
            <li><i class="fa fa-clock-o"></i>Released : November 25, 2015</li>
            <li><i class="fa fa-thumb-tack"></i>Categories: <a href="#">Webdesign</a>, <a href="#">Graphic</a></li>
          </ul>
          <p class="text-justify">Phần Mềm tính toán thể tích của các đối tượng lớn, có hình dạng bất kì, như đống đạm, than. Sản phẩm hợp tác với đối tác EIC</p>
          <div class="text-right animate-me bounceIn">
            <a href="#" class="btn btn-default"><i class="fa fa-link"></i> View Website </a>
          </div>
        </div>
      </div>

      

      <!--PORTFOLIO -->
      <h2 class="with-breaker animate-me fadeInUp">
        Our Latest Work <span>Yep, and we're proud !</span>
      </h2>
    </div>
    <div id="portfolio-container" class="with-separation-bottom with-separation-top">
        <!--PORTFOLIO ITEM -->
        <figure class="portfolio-item effect-sadie">
            <img src="/images/blog/03.png" alt="hình 1"/>
            <figcaption>
                <h4>Phần mềm Lường Bồn VolumeCalculator</h4>
                <p>Phần mềm đo lường thể tích bồn chứa dầu với độ chính xác cao hơn so với các phương pháp truyền thống. Một sản phẩm hợp tác với công ty CP Giám Định Năng Lượng Việt Nam, EIC</p>
                <a href="/phan-mem-luong-bon-volume-calculator">View more</a>
            </figcaption>
        </figure>
        <!--PORTFOLIO ITEM -->
        <figure class="portfolio-item effect-sadie">
            <img src="/images/blog/02.png" alt="hình 1"/>
            <figcaption>
                <h4>Nền tảng EasyWebHub</h4>
                <p>Nền tảng EasyWeb để xây dựng website nhanh chóng đơn giản mà không cần nhiều kiến thức ban đầu.</p>
                <a href="/nen-tang-easy-web-hub">View more</a>
            </figcaption>
        </figure>
        <!--PORTFOLIO ITEM -->
        <figure class="portfolio-item effect-sadie">
            <img src="/images/blog/04.png" alt="hình 1"/>
            <figcaption>
                <h4>Phần mềm Đo lường StockPile</h4>
                <p>Phần Mềm tính toán thể tích của các đối tượng lớn, có hình dạng bất kì, như đống đạm, than. Sản phẩm hợp tác với đối tác EIC</p>
                <a href="/phan-mem-do-luong-stockpile">View more</a>
            </figcaption>
        </figure>
    </div>
    <div class="portfolio-button center animate-me zoomIn">
      <a href="/portfolio.html" class="btn btn-default"><i class="fa fa-suitcase"></i> More Stuff on our Portfolio</a>
    </div>
  </div>
  <!-- END MAIN CONTAINER -->



      <!-- START FOOTER -->
      <footer id="footer" class="with-separation-top">
          <aside id="widgets" class="container">
              <div class="row">
                  <!-- WIDGET -->
                  <div class="col-md-4 widget animate-me fadeInLeft">
                      <img src="/images/logo-footer.png" id="footer-logo" alt="Logo footer">
                      <p></p>
                  </div>
                  <!-- WIDGET -->
                  <div class="col-md-4 widget animate-me fadeInUp">
                      <h4>Danh mục</h4>
                      <ul>
                      </ul>
                  </div>
                  <!-- WIDGET -->
                  <div class="col-md-4 widget animate-me fadeInRight">
                      <h4>Liên hệ</h4>
                      <ul class="contact-informations">
                          <li class="contact-address">305 Hồng Lạc, Phường 10, Quận Tân Bình, TP Hồ Chí Minh </li>
                          <li class="contact-phone"> contact@vinaas.com </li>
                      </ul>
                      <ul class="widget-social">
                          <!-- ALL ICONS AVAILABLE ->http://fortawesome.github.io/Font-Awesome/icons/#brand-->
                          <li><a href="#"><i class="fa fa-facebook"></i></a>
                          </li>
                          <li><a href="#"><i class="fa fa-twitter"></i></a>
                          </li>
                          <li><a href="#"><i class="fa fa-skype"></i></a>
                          </li>
                      </ul>
                      <a href="contact.html" class="btn btn-default"><i class="fa fa-envelope-o"></i> Contact Form</a>
                  </div>
              </div>
          </aside>
          <div id="copyright" class="animate-me fadeInUp">
              <div class="container">
                  <p>&#169; 2016. </p>
                  <!-- <ul id="footer-navigation">
                      <li><a href="page.html">Terms of Use</a>
                      </li>
                      <li><a href="page.html">Privacy Policy</a>
                      </li>
                      <li><a href="contact.html">Contact Us</a>
                      </li>
                  </ul> -->
              </div>
          </div>
      </footer>
      <!-- END FOOTER -->

      <!-- SCROLL TOP -->
      <a href="#" id="scroll-top" class="fadeInRight animate-me"><i class="fa fa-angle-double-up"></i></a>
  </div>
      <script defer="defer"  src="/js/jquery-1.11.1.min.js"></script>
      <script defer="defer"  src="/js/plugins.js"></script>
      <script defer="defer"  src="/js/custom.js"></script>



</body>
</html>
